body{
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
}
h1 { /*about.html, resume.html Experiences Contact Me*/
    color: white;
    text-align: center;
    animation: floatInMove 2s ease-in-out;
    }
img{
    border-radius: 14px;
    opacity: 0.8;
    padding: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    color: black; /* Update text color to improve visibility */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
img:hover{
    transform: scale(1.02);
    border-radius: 20px;
    opacity: 1;
}

@keyframes floatInMove {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes floatInMoveXL {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes floatInMoveXR {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
.outer {
    margin-top: 4%;
    color: black;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 0.78fr 3.2fr 2.04fr; 
    grid-template-rows: auto; /* Automatically adjust row height based on content */
    grid-gap: 20px; /* Add some gap between grid items */

  }

.center0{
    animation: floatInMove 4s ease-in-out;
    padding-bottom: 40px;
}

.center {
    
    color: black;
    max-width: fit-content;
    display: grid;
    grid-gap:10px;
    animation: floatInMoveXL 2s ease-in-out;
  }

  .center2 {

    color: black;
    max-width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: auto; /* Automatically adjust row height based on content */
    grid-gap: 10px; /* Add some gap between grid items */
    animation: floatInMoveXR 4.8s ease-in-out;
    padding-bottom: 20px;

  }

  .outer2{
    
    color: black;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr; 
    grid-template-rows: auto; /* Automatically adjust row height based on content */
    grid-gap: 20px; /* Add some gap between grid items */
  }

  .center3{

    grid-gap: 10px; /* Add some gap between grid items */
  }

  /* navagation bar related start ----------*/
  .navigation {
    background-color: black;
    text-align: center;
    }
  
    .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
  
    .navigation li {
    display: inline-block;
    }
  
    .navigation a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial
    }
  
    .navigation a:hover {
    background-color: #ddd;
    color: grey;
    }
  /* navagation bar related end ----------*/

