<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>About Me</title>
    <link rel="stylesheet" href="css/external.css">
    <script src = "js/about.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="js/about-vue.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <script>

    AOS.init({
      duration: 1000, // Animation duration in milliseconds
      easing: 'ease-in-out', // Animation easing (default: 'ease')
      delay: 100, // Delay before the animation starts in milliseconds
    });

  </script>

  <nav class="navigation">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="experiences.html">Experiences</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
        
    </ul>
  </nav>


  <div class="picture-container">
    <img src="images/vt.JPG" class="picture-about" alt="vermont">
    <div class="heading-overlay">
      <h1>About Me</h1>
    </div>
  </div>

  <div class="scroll-down-arrow">
    <h1>▼</h1>
  </div>


  <div class="container-about"  data-aos="fade-up" >

    <article class="text-about">
      <h1>About Me</h1>
      <div class="scroll-down-text">
        <h1>▼</h1>
      </div>
      <p>I'm Aiden from Taiwan. 
        After completing my undergraduate degree, I worked as a research assistant in my university's lab before coming to the US. 
        Additionally, I fulfilled my military service obligation, which was the most challenging period of my life. After completing my military service, fortunately, 
        I found a software engineer job mainly using python to complete my projects.
      </p>
    </article>
  </div>

  
  <div class="exp"  data-aos="fade-up">
  <h1>Experiences </h1>

  <div class="exp-container" id="aboutlist">
    
    <div class="exp-item item1">
      <img src="images/shopeeIcon.png" class="experience-logo" alt="shopeeIcon">
    </div>
    
    <div class="exp-item item2">
     
      <h2>Shopee - Software Engineer (April - August 2022)</h2>
      <ul>
        <li v-for="swork in sworks">
          {{swork}}
        </li>
        </ul>
    </div>

    <div class="exp-item item1">
      <img src="images/ncu_logo.png" class="experience-logo" alt="ncu_logo">
    </div>
    <div class="exp-item item2">
      <h2>EPSL - Research Assistant (July - December 2021)</h2>
      <ul>
        <li v-for="ework in eworks">
          {{ework}}
        </li>
      </ul>
     
    </div>
  </div>
</div>

<div class="edu" data-aos="fade-up">
  <h1>Education</h1>

  <div class="edu-container" >
    
    <div class="edu-item item1">
      <img src="images/bu.png" class="experience-logo" alt="ncu_logo">
    </div>
    <div class="edu-item item2">
      <h2>Master in Computer Science at Boston university</h2>
    </div>

  </div>

</div>

<div class="back-to-top" >
  <h1>&#9650;</h1>
</div>





</body>
</html>